{#
r4it_admin-plugin_boilerplate_grav
@category Grav_Plugin
@author Nejat P. Eryigit <https://www.ready-4-it.com>
@copyright 2026 Nejat P. Eryigit
@license https://opensource.org/licenses/MIT MIT License
@link https://github.com/timejunky/r4it_admin-plugin_boilerplate_grav
#}

<h3><i class="fa fa-info-circle"></i> {{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_HEADING'|tu }}</h3>
{% if r4it_admin_plugin_boilerplate_logo_url is defined and r4it_admin_plugin_boilerplate_logo_url %}
<p>
    <img src="{{ r4it_admin_plugin_boilerplate_logo_url }}" alt="{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.LOGO_ALT'|tu }}" class="r4it-admin-info-logo" loading="lazy">
</p>
{% endif %}
<p>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_INTRO'|tu }}</p>
<p><em>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_SAMPLE'|tu }}</em></p>
<p><strong>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_REPOSITORY'|tu }}:</strong>
    <a href="{{ r4it_admin_plugin_boilerplate_repo_url }}" target="_blank" rel="noopener noreferrer">{{ r4it_admin_plugin_boilerplate_repo_url }}</a>
</p>
<p><strong>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_CURRENT_VERSION'|tu }}:</strong> {{ r4it_admin_plugin_boilerplate_version|default('unknown') }}</p>
<p><strong>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_SUPPORT'|tu }}:</strong> {{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_SUPPORT_TEXT'|tu }}</p>
<p>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_DESCRIPTION'|tu }}</p>
<ul>
    <li>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_BULLET_1'|tu }}</li>
    <li>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_BULLET_2'|tu }}</li>
    <li>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_BULLET_3'|tu }}</li>
    <li>{{ 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.INFO_BULLET_4'|tu }}</li>
</ul>
