{#
r4it_admin-plugin_boilerplate_grav
@category Grav_Plugin
@author Nejat P. Eryigit <https://www.ready-4-it.com>
@copyright 2026 Nejat P. Eryigit
@license https://opensource.org/licenses/MIT MIT License
@link https://github.com/timejunky/r4it_admin-plugin_boilerplate_grav
#}

{% extends 'partials/base.html.twig' %}

{% set plugin_name = 'r4it_admin_plugin_boilerplate' %}
{% set plugin_title = 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.TITLE' %}
{% set
    tabs_config = {
        'info': {'label': 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.TAB_INFO', 'icon': 'fa-info-circle'},
        'settings': {'label': 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.TAB_SETTINGS', 'icon': 'fa-cogs'},
        'tools': {'label': 'PLUGIN_R4IT_ADMIN_PLUGIN_BOILERPLATE.TAB_TOOLS', 'icon': 'fa-flask'}
    }
%}

{% block titlebar %}
    <div class="button-bar">
        <a class="button" href="{{ admin_route('plugins/' ~ plugin_name) }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK_TO_PLUGINS"|tu }}</a>
    </div>
    <h1 class="r4it-admin-title">
        {% if r4it_admin_plugin_boilerplate_logo_url is defined and r4it_admin_plugin_boilerplate_logo_url %}
            <img
                src="{{ r4it_admin_plugin_boilerplate_logo_url }}"
                alt="{{ plugin_title|tu }} logo"
                class="r4it-admin-logo"
                loading="lazy"
            >
        {% endif %}
        <i class="fa fa-fw fa-flask"></i> {{ plugin_title|tu }}
    </h1>
{% endblock %}

{#
  Admin base includes partials/messages.html.twig which assumes admin.messages is an array.
  When this page is rendered via a custom interceptor, admin.messages may be NULL.
  Override the block and make it null-safe to prevent "merge filter ... got NULL" errors.
#}
{% block messages %}
    {% set admin_messages = (admin.messages|default([]))|merge(admin.getTempMessages()|default([])) %}
    {% set form_message = form.message|default(null) %}
    <div id="messages" class="top-notifications-container{{ admin_messages|length or form_message ? ' default-box-shadow' : '' }}">
        <div class="single-notification info alert hidden" data-gpm-grav></div>
        {%- for message in admin_messages -%}
        <div class="{{ message.scope }} alert">{{ message.message|raw }}</div>
        {%- endfor -%}
        {%- if form_message -%}
        <div class="error alert">{{ form_message|raw }}</div>
        {%- endif -%}
        {%- for message in plugin_messages|default([]) -%}
            <div class="{{ message.scope }} alert">{{ message.message|raw }}</div>
        {%- endfor -%}
    </div>
{% endblock %}

{% block content %}
    {# Load custom CSS for the tool page #}
    {% do assets.addCss('plugin://' ~ plugin_name ~ '/admin/assets/admin-plugin-boilerplate.css', 10) %}

    <div class="admin-block">
        <div class="admin-tabs">
            {% for key, tab_info in tabs_config %}
                <a class="admin-tab {% if active_tab == key %}active{% endif %}" href="{{ admin_route('r4it-admin-plugin-boilerplate') ~ '/tab' ~ config.system.param_sep ~ key }}">
                    <i class="fa {{ tab_info.icon }}"></i> {{ tab_info.label|tu }}
                </a>
            {% endfor %}
        </div>

        <div class="admin-panes">
            <div class="admin-pane">
                {% if active_tab == 'info' %}
                    {% include 'partials/_info.html.twig' %}
                {% elseif active_tab == 'settings' %}
                    {% include 'partials/_settings.html.twig' %}
                {% elseif active_tab == 'tools' %}
                    {% include 'partials/_tools.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
